<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.DataFileMapper">
    <!--  dataFile  -->
    <select id="dataFileList" resultType="kr.ed.haebeop.domain.DataFile">
        select * from dataFile
    </select>
    <select id="dataFileInsertList" resultType="kr.ed.haebeop.domain.DataFile">
        select * from dataFile where bno=0
    </select>
    <select id="dataFileBoardList" resultType="kr.ed.haebeop.domain.DataFile">
        select * from dataFile where bno=#{bno} and relations=#{relations}
    </select>
    <select id="dataFileDetail" resultType="kr.ed.haebeop.domain.DataFile">
        select * from dataFile where dno=#{dno}
    </select>
    <select id="dataFileCount" resultType="kr.ed.haebeop.domain.DataFile">
        select COUNT(*) from dataFile
    </select>
    <insert id="dataFileInsert" >
        insert into dataFile(dno, fileName, saveName, fileType, relations, bno, saveFolder) values(default, #{fileName}, #{saveName}, #{fileType}, default, #{bno}, #{saveFolder})
    </insert>
    <update id="dataFileEdit" >
        update dataFile set fileName=#{fileName}, fileType=#{fileType}, bno=#{bno}, relations=#{relations} where dno=#{dno}
    </update>
    <delete id="dataFileDelete" >
        delete from dataFile where dno=#{dno}
    </delete>
</mapper>