<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.SubjectMapper">

    <select id="subjectList" resultType="kr.ed.haebeop.domain.Subject">
        select * from subject
    </select>
    <select id="subjectGet" resultType="kr.ed.haebeop.domain.Subject">
        select * from subject where sno=#{sno}
    </select>
    <insert id="subjectAdd">
        insert into subject values (default, #{title})
    </insert>
    <delete id="subjectDelete">
        delete from subject where sno=#{sno}
    </delete>
    <update id="subjectUpdate">
        update subject set title=#{title} where sno=#{sno}
    </update>


</mapper>